ul {
  list-style:none;
}
li {
  display:block;
  cursor: pointer;
}

.split {
  display:block;
  float:left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:flex;
  width: 42%;
  -webkit-flex-direction:row;
  -moz-flex-direction:row;
  flex-direction:row;
}

.split-champ {
  display:block;
  float:left;
  width: 10%;
}
.champion {
  float:left;
  display:block;
  width: 16%;
  -webkit-flex-direction:row;
  flex-direction:row;
  -webkit-align-self:center;
  align-self:center;
  margin-top: -15px;
  text-align: center;
  padding: 230px 0\9;
}

.champion1 {
  float:left;
  display:block;
  width: 100%;
  -webkit-flex-direction:row;
  flex-direction:row;
  -webkit-align-self:center;
  align-self:center;
  margin-top: -15px;
  text-align: center;
  padding: 230px 0\9;
  display: inline-block;
  margin: 0;
  padding: 0;
} 

.champion1 .semis-l {
  float: none;
  width: 100%;
}

.champion1 .final {
  float: none;
  width: 100%;
}

.champion1 .matchup-less {
  margin: 0 5%;
  width: 90%;
}

.champion i {
  color: #a0a6a8; 
  font-size: 45px;
  padding: 10px 0; 
}

.game1 {float: left;}
.game2 {float: right;}

.round {
  display:block;
  float:left;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display:flex;
  -webkit-flex-direction:column;
  flex-direction:column;
  width:95%;
  width:30.8333%\9;
}

.split-one .round {margin: 0 2.5% 0 0;}

.split-two .round {margin: 0 0 0 2.5%;}

.matchup {
	margin:0;
  width: 100%;
  padding: 10px 0;
  height:60px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.matchup-less {
  margin:0;width: 30%;
  padding: 10px 0;
  height:60px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.score {
  font-size: 11px;
  text-transform: uppercase;
  float: right;color: #004E89;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;right: 5px;
}

.team {
  padding: 0 5px;
  margin: 3px 0;
  height: 25px;
  line-height: 25px;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}

.round-two .matchup {
  margin:0;
  height: 60px;
  padding: 50px 0;
}

.round-three .matchup {
  margin:0; 
  height: 60px; 
  padding: 130px 0;
}

.round-details {
  font-family: 'Roboto Condensed', sans-serif; 
  font-size: 13px; 
  color: #004E89;
  text-transform: uppercase;
  text-align: center;
  height: 40px;
}

.round2-header {
  transform: translate(0px, 40px);
}

.sixteen-header {
  transform: translate(0px, 120px);
}

.eight-header {
  transform: translate(0px, 0px);
}

.champion1 li, .champion li, .round li {
  background: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.45);
}

.current li {opacity: 1;}

.current li.team {
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  opacity: 1;
}

.semis-l, .semis-r {
  margin-top: 0em;
}

.champion1 .semis-l {
  margin-top: 0em;
}

.final-four-top {
  width: 33%;
  float: left
}

.final-four-bottom {
  width: 33%;
}

.correctPick {
  color: green;
  font-weight: bold;
}

.incorrectPick {
  color: red;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

.date {
	font-size: 10px; 
 letter-spacing: 2px;
 font-family: 'Istok Web', sans-serif;
 color:#3F915F;
}

.userNameDisplay {
  float:left;
  display:block;
  width: 100%;
  -webkit-flex-direction:row;
  flex-direction:row;
  -webkit-align-self:center;
  align-self:center;
  margin-top: -15px;
  display: inline-block;
  margin: 0;
  padding-bottom: 2em;
  text-align: center;
  font-size: 14px;
  color: #004E89;
  letter-spacing: .5px;
  font-family: 'Holtwood One SC', serif;
  font-size: 18px;
} 

.game1, .game2, .game3, .game4, .game5, .game6, .game7, .game8,
.game9, .game10, .game11, .game12, .game13, .game14, .game15, .game16,
.game33, .game34, .game35, .game36, .game37, .game38, .game39, .game40,
.game49, .game50, .game51, .game52 {
  text-align: right;
}

.winner {
  font-weight: bold;
  font-size: 15px;
}

.error {
  color: red;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 1.2em;
}

#message {
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 1.2em;
}

.champion1 .semis-l {
  float: none;
  width: 100%;
}

.hidden {
  display: none;
}

.auto-picks {
  max-width: 1300px;
  margin: 0 auto;
  display:block;
  padding: 0 0 30px 0;
}

.auto-picks-buttons {
  max-width: 1300px;
  text-align: center;
  padding: 5px;
}

.pick-button {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 140px;
  padding: 8px;
  background: #004E89;
  border-top-style: none;
  border-bottom-style: none;  
  border-right-style: none;
  border-left-style: none;  
  color: #fff;
  text-transform: uppercase;
  font-weight : bold;
  font-size: 10px;
}

.pick-button:hover {
  background: #3F915F;
}

.picks-header {
  font-size: 13px;
  text-transform: uppercase;
  font-weight : bold;
  letter-spacing: 1.5px;
  font-family: 'Istok Web', sans-serif;
  color: #3F915F;
  text-align: center;
}

@media screen and (min-width: 640px) {
  .champion1 {
    margin: 0;
    padding: 30px 0 30px 0;
  }
  .champion1 .semis-l {
    float: left;
    width: 33%;
  }
  .champion1 .final {
    float: left;
    width: 33%;
  }
  .champion1 .matchup-less {
    margin: 0 25%;
    width: 50%;
  }
}

@media screen and (min-width: 981px) and (max-width: 1099px) {
  .container {margin: 0 1%;}
  .champion {width: 14%;}
  .split {width:43%; }
  .split-one .vote-box {margin-left: 138px;}
  .hero p.intro {font-size: 28px;}
  .hero p.year {margin: 5px 0 10px;}
}

@media screen and (max-width: 980px) {
  .container {-webkit-flex-direction:column;-moz-flex-direction:column;flex-direction:column;}
  .split, .champion {width: 90%;margin: 35px 5%;}
  .split {border-bottom: 1px solid #b6b6b6; padding-bottom: 20px;}
  .hero p.intro {font-size: 24px;}
  .hero h1 {font-size: 3em; margin: 15px 0;}
  .hero p {font-size: 1em;}
  .elite-eight-top {transform: translate(0,0);}
  .elite-eight-bottom {transform: translate(0,0);}
  .round2-header {transform: translate(0,0);}
  .eight-header {transform: translate(0,0);}
  .sixteen-header {transform: translate(0,0);}
  .final-four-right {padding-bottom: 40px;}
  .bracket_details {max-width: 90%;}
  
  .top {
    order: 1;
  }
  .bottom {
    order: 2;
  }
  .champion.top {
    order: 3;
  }
  .champion.bottom {
    order: 4;
  }
  .middle {
    order: 5;
  }
  #userBracketInfoForm {
    order: 6;
  }
}

@media screen and (max-width: 400px) {
  .split {width: 95%;margin: 25px 2.5%;}
  .current {-webkit-flex-grow:1;-moz-flex-grow:1;flex-grow:1;}
  .hero h1 {font-size: 1.5em; letter-spacing: 0;margin:0; }
  .hero p.intro {font-size: 1em;margin-bottom: -10px;}
  .round-details {font-size: 90%;}
  .hero-wrap {padding: 2.5em;}
  .hero p.year {margin: 5px 0 5px; font-size: 14px; font-weight: bold;}
  .hero p.year i {font-size: 12px;}
  .current li.team {width: 80%;}
  .round-one .round-details {width: 80%;}
}




