*{margin:0;padding:0;text-decoration:none}

body {
  font-family: 'Istok Web', sans-serif;
  min-height: 100%;
  margin: 0;
  background-color: #000;
}

.tournament-title {
  position:relative; 
  overflow: hidden; 
  color: white;
  max-width: 1300px;
  margin: 0 auto;
  display: block;
}

.tournament-title .tournament {
  font-family: 'Roboto', sans-serif; 
  font-weight: bold;
  font-size: 90px;
  letter-spacing: 0px;
  margin: 0 0 20px 0;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  margin-top: -10px;
}

.tournament-title-wrap {
  padding: 40px 0px;
}

.tournament-title .intro {
  font-family: 'Roboto', sans-serif; 
  text-transform: uppercase;
  font-size: 42px;
  color: #b7b7b7; 
}

.march-madness-header {
  font-family: 'Roboto', sans-serif; 
  text-transform: uppercase;
  color: skyblue; 
}

#bracket {
  overflow:hidden;
  font-size: 12px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  display:block;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction:row;
  flex-direction: row;
  flex-flow: wrap;
}


.admin {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding-top: 200px;
  color: white;
  font-size: 16px;
}

.admin a {
  color: white;
}

.my_footer {
  color: white;
  font-size: 12px;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 20px 0 20px 0;
  text-align: center;
}

.my_footer a {
  color: skyblue;
}

.pool-form {
  background-size: 110%;
  height: 100vh;
  background-image: url("/static/images/background-1.jpg");
}

.pool-form .my_footer {
  font-size: 16px;
}

