.standings {
  overflow-x: auto;
  width: 50%;
}

.standings table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;

}

.standings a { 
  text-decoration:none; 
  color: #e2e2e2;
}

.header th {
  border: none;
  padding: 15px 0px 15px 10px;
  text-align: left;
  background-color: rgba(0, 0, 0, .5);
  color: white;
}

.standings td {
  text-align: left;
  padding: 15px 0px 15px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, .35);
  color: #e2e2e2;
}

.standings tr:hover {
  cursor: pointer;
}

@media screen and (min-width: 801px) and (max-width: 1299px) {
  .standings {
    width: 70%;
    font-size: 1em;
  }
}

@media screen and (max-width: 800px) {
	 .standings {
	   width: 100%;
	   font-size: 1em;
	 }
  .standings table {
    border: 0px;
    width: 100%;
  }
  .standings th {
    font-size: 1.1em;
    text-align: left;
  }
  .standings td {
    font-size: .9em;
  }
  .standings .standings_champ {
    padding-left: 0px;
  }
  .resize_mobile {
    display: none;
  }
}