{% extends "index.html" %}

{% block title %} - Top 25 Polls{% endblock %}

{% block content %}

<section id="bracket">
  <div class="container">
    <div class="polls">
           <div class='ap-poll-data'>
             <div class='title'>{{ ap_rankings['poll']['name'] }}</div>
             <table class='poll'>
               <tr>
                 <th class='rank'>Rank</th>
                 <th>School</th>
                 <th>Record</th>
                 <th>Points</th>
                 <th>Previous</th>
               </tr>
               {% for data in ap_rankings['rankings'] %}
               <tr>
                 <td>{{ data['rank'] }}</td>
                 <td><span class='logo'><img src="/static/images/logos/{{data['logo_name']}}.svg" onerror="this.style.display='none'" /></span> {{ data['market'] }} {% if data['fp_votes'] %}<span class='resize_mobile'>({{ data['fp_votes'] }})</span>{% endif %}</td>
                 <td>{{ data['wins'] }}-{{ data['losses'] }}</td>
                 <td>{{ data['points'] }}</td>
                 <td><span class='ranking'>{{ data['prev_rank'] }}</span><span class="{{ data['movement'] }}">{% if data['movement'] == "up" %}&#8593;{% elif data['movement'] == "down" %}&#8595;{% else %}&nbsp;{% endif %}</span></td>
               </tr>
               {% endfor %}
             </table>

             <div class='other-votes-ap'><span class='other-votes-header'>Others receiving votes: </span>
               {% for data in ap_rankings['candidates'] %}
                 {{ data['market'] }} ({{ data['votes'] }}){{ ',' if not loop.last }}
               {% endfor %}
             </div> 
	          </div>
	          
	          <div class='usa-today-poll-data'>
             <div class='title'>{{ usa_today_rankings['poll']['name'] }}</div>
             <table class='poll'>
               <tr>
                 <th class='rank'>Rank</th>
                 <th>School</th>
                 <th>Record</th>
                 <th>Points</th>
                 <th>Previous</th>
               </tr>
               {% for data in usa_today_rankings['rankings'] %}
                 <tr>
                   <td>{{ data['rank'] }}</td>
                   <td><span class='logo'><img src="/static/images/logos/{{ data['logo_name'] }}.svg" onerror="this.style.display='none'" /></span> {{ data['market'] }} {% if data['fp_votes'] %}<span class='resize_mobile'>({{ data['fp_votes'] }})</span>{% endif %}</td>
                   <td>{{ data['wins'] }}-{{ data['losses'] }}</td>
                   <td>{{ data['points'] }}</td>
                   <td><span class='ranking'>{{ data['prev_rank'] }}</span><span class="{{ data['movement'] }}">{% if data['movement'] == "up" %}&#8593;{% elif data['movement'] == "down" %}&#8595;{% else %}&nbsp;{% endif %}</span></td>
                 </tr>
               {% endfor %}
             </table>
             
             <div class='other-votes-usa-today'><span class='other-votes-header'>Others receiving votes: </span>
             {% for data in usa_today_rankings['candidates'] %}
               {{ data['market'] }} ({{ data['votes'] }}){{ ',' if not loop.last }}
             {% endfor %}
             </div> 
	          </div>
  </div>
</section>

{% include "footer.html" %}

{% endblock %}
