{% extends "index.html" %}

{% block title %} - Standings{% endblock %}

{% block content %}

<section id="bracket">
  <div class="container">
    <div class="standings">
      <table>
      <tbody>
    <tr class="header">
      <th>Bracket <span class="resize_mobile">Name</span></th>
      <th>Champion</th>
      <th>Score</th>
      {% if games_left %}
        <th><span class="resize_mobile">Best </span>Possible <span class="resize_mobile">Score</span></th>
      {% endif %}
    </tr>
    {% for user in data %}
      <tr>
        <td class="standings_name"><a href="/bracket/{{user.userDisplayToken}}">{{ user.userName }}</a> <span class="resize_mobile">{{ user.realName }}</span></td>
        <td class="standings_champ"> {{ user.teamName }} <span class="resize_mobile">({{ user.userTieBreakerPoints }})</span></td>
        <td class="standings_score">{{ user.userScore }}</td>
          
        {% if games_left %}
          <td class="standings_score">{{ user.bestPossibleScore }}</td>
        {% endif %}
        </tr>
      {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
</section>
{% endblock %}
