{% extends "index.html" %}

{% block title %} - Standings{% endblock %}

{% block content %}

<section id="bracket">
  <div class="container">
    <div class="standings">
      {{ pagination.info }}
      {{ pagination.links }}
      <table>
      <tbody>
        <tr class="header">
          {% if pool_is_closed %}
            <th>Rank</th>
          {% endif %}
          <th>Bracket <span class="resize_mobile">Name</span></th>
          <th>Champion</th>
          <th>Score</th>

          {% if has_games_left %}
            <th>Possible</th>
          {% endif %}
        </tr>
        {% for user in data %}
        <tr bracket='/bracket/{{user.bracketTypeLabel}}/{{user.userDisplayToken}}'>
          {% if pool_is_closed %}
            <td class="standings_rank">{{ user.user_rank }}</td>
          {% endif %}
          <td class="standings_name">{{ user.userName }} {% if user.realName != ' '%}<span class="resize_mobile">({{ user.realName }})</span>{% endif %}</td>
          <td class="standings_champ"> {{ user.teamName }} <span class="resize_mobile">({{ user.userTieBreakerPoints }})</span></td>
          <td class="standings_score">{{ user.userScore }}</td>

          {% if has_games_left %}
            <td class="standings_score">{{ user.bestPossibleScore }}</td>
          {% endif %}
        </tr>

        {% endfor %}
      </tbody>
      </table>

      {{ pagination.links }}

    </div>
  </div>

  {% include "footer.html" %}
</section>
{% endblock %}
