{% extends "index.html" %}

{% block title %} - Pricing{% endblock %}

{% block content %}

<section id="bracket">
  <div class="container">
    <div class="pricing">
        <div class='question'>
          How are we different from other services like <a href="https://www.cbssports.com/college-basketball/ncaa-tournament/" target="_blank">CBS Sports</a>, <a href="https://www.espn.com/mens-college-basketball/bracket" target="_blank">ESPN</a> or <a href="https://www.runyourpool.com/" target="_blank">Run Your Pool</a>?
        </div>
        <div class='answer'>
          We are a small company fueled by our enthusiasm for the NCAA tournament. It's Awesome Baby came to life in 2010 as a passion project. Our mission was to simplify the process of making and submitting picks, setting us apart from other platforms. No need for cumbersome account creation, verification, or logins. Say goodbye to spam and marketing emails. With It's Awesome Baby, you can effortlessly make your picks and dive straight into the game. It's just that simple.
        </div>
        <div class='question'>
          Is there a public pool I can join?
        </div>
        <div class='answer'>
            Yes there is a free to play public pool <a href="/pool/cinderella">here</a>.
        </div>
        <div class='question'>
          How much does it cost to run my own pool?
        </div>
        <div class='answer'>
            In the theme of keeping it simple, it is $1 per bracket. For example, if you run a pool with 20 brackets, your cost is $20. <a href="/contact">Contact us</a> if you would like to host your own pool.
        </div>
    </div>
  </div>
</section>

{% endblock %}
