{% extends 'index.html' %}

{% block content %}

  <script>
    $(document).ready (function() {
      // submit add new pool
      $('#js-submit-add_pool').click(function(event){
        event.preventDefault();

        $.ajax({
          type: 'POST',
          url: window.location.pathname,
          data: {
            pool_name: $('#pool_name').val(),
            round_scores: $('#round_scores').val() || ' ',
            seed_bonus_scoring: $('#seed_bonus_scoring').is(':checked') ? 1 : 0
          },
          success: function (result) {
            alert(result['status']);
          }
        });
      });

    }); 
  </script>

  <div class='pool_details'>
      <form id='add_pool'>
        <table>
        <tr colspan=3>
          <td><input type='text' id='pool_name' placeholder='Add a new pool' value=''></td>
        </tr>
        <tr colspan=3>
          <td><input type='text' id='round_scores' placeholder='Round scores' value=''></td>
        </tr>
        <tr colspan=3>
          <td><label>Seed bonus scoring: </label><input type='checkbox' id='seed_bonus_scoring' value='1'></td>
        </tr>
        </table>
        <input id='js-submit-add_pool' value='Submit' type='submit'>
      </form>
  </div>
  
{% endblock %}