<html>
<head>
<script src='https://code.jquery.com/jquery-3.3.1.min.js' integrity='sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=' crossorigin='anonymous'></script>
<script>
  $(document).ready (function() {
    // submit game date data
    $('#js-submit-game_date_data').click(function(event){
      event.preventDefault();

      $.ajax({
        type: 'POST',
        url: window.location.pathname,
        data: {game_dates: JSON.stringify($("#game_dates").serializeArray())},
        success: function (result) {
        // check for errors better
          alert('All good');
        }
      });
    });

    // submit pool start/end date data
    $('#js-submit-pool_dates_data').click(function(event){
      event.preventDefault();

      const $form = $('#pool_dates');
      const dates = {
          normal_close: $form.find("input[name=normal_close]").val(),
          sweet_16_open: $form.find("input[name=sweet_16_open]").val(), 
          sweet_16_close: $form.find("input[name=sweet_16_close]").val() 
      };

      $.ajax({
        type: 'POST',
        url: window.location.pathname,
        data: {pool_dates: JSON.stringify(dates)},
        success: function (result) {
          alert('All good');
        }
      });
    });

  });
</script>
</head>
<body>
  <div align='center'>      
      <form id='game_dates'>
        <table>
          <tr>
            <td>Round 1 dates: <input type='text' name='round_one' value=''></td>
          </tr>
          <tr>
            <td>Round 2 dates: <input type='text' name='round_two' value=''></td>
          </tr>
          <tr>
            <td>Sweet 16 dates dates: <input type='text' name='round_three' value=''></td>
          </tr>
          <tr>
            <td>Eight 8 dates: <input type='text' name='round_four' value=''></td>
          </tr>
          <tr>
            <td>Final Four date: <input type='text' name='round_five' value=''></td>
          </tr>
          <tr>
            <td>Championship date: <input type='text' name='round_six' value=''></td>
         </tr>
       </table>
      <button id='js-submit-game_date_data'>Submit</button>
      </form>
      
      <form id='pool_dates'>
        <table>
        <tr>
          <td>Pool close date/time: <input type='text' name='normal_close' placeholder='ex: 2018-03-19 14:52:58' value=''></td>
        </tr>
        <tr>
          <td>Sweet 16 pool open date/time : <input type='text' name='sweet_16_open' placeholder='ex: 2018-03-19 14:52:58' value=''></td>
        </tr>
        <tr>
          <td>Sweet 16 pool close date/time: <input type='text' name='sweet_16_close' placeholder='ex: 2018-03-19 14:52:58' value=''></td>
        </tr>
        </table>
        <button id='js-submit-pool_dates_data'>Submit</button>
      </form>
  </div>
</body>
</html>
