<div class='picks-header'>Help me make my picks <img src='{{url_for('static', filename='images/help.png')}}' width='16' height='16' class='help-image'/></div> 
<div class='auto-picks-buttons' style='display:none'>
  <button class='pick-button' id='chalk'>Eat the chalk <p>(all favorites)</p></button>
  <button class='pick-button' id='mix'>Weighted picks <p>(favorites / upsets)</p></button>
  <button class='pick-button' id='random'>Completely random <p>(good luck)</p></button>
  <div><button class='pick-button reset' id='reset'>Reset my bracket</button></div>
</div>
