<div class='bracket_details hidden'>
  <div>
    <img src='{{url_for('static', filename='images/ncaa.jpg')}}' alt='March Madness' class='ncaa-image'/>
    <br/>
    <hr class='details' />
  </div>
  <div id=message></div>
  <div id='error' class='error'></div>
  
  <input type='email' name='email' id='email' placeholder='Email address' value="{{user_data[0]['emailAddress']}}"/>
  <input type='text' name='username' id='username' placeholder='Bracket Name' value="{{user_data[0]['userName']}}"/>
  <input type='text' name='firstname' id='firstname' placeholder='First name (optional)' value="{{user_data[0]['realName']}}"/>
  <input type='tel' name='tieBreaker' id='tieBreaker' placeholder='Total pts of final game' value="{{user_data[0]['tieBreakerPoints']}}"/>
  <input type='hidden' name='bracketType' id='bracketType' value="{{bracket_type}}"/>
  <input type='hidden' name='editType' id='editType' value="{{edit_type}}"/>
  <input type='submit' value='Submit' id='submit_user_bracket'/>
</div>