{% extends "index.html" %}

{% block content %}
<section id='bracket'>
  <!-- show buttons to allow users to autofill their bracket -->
  {% if show_user_bracket_form %}
    <div id='auto_picks' class='auto-picks'>
      {% include "auto_picks.html" %}
    </div>
  {% endif %}

  <div class='container'>

    {% if show_payment_form %}
      <div class='paypal_container'></div>
    {% endif %}

    {% if bracket_display_name %}
      <div class='userNameDisplay'>{{bracket_display_name}} Bracket</div>
    {% endif %}
    
    <div class='split split-one top'>
      <div class='round round-one current'>
        <!-- LEFT TOP 16 START -->
        <div class='round-details'>Round 1 
          <br />
          <span class='date'>March 15-16</span>
        </div>
        <ul class='matchup game1' data-games='65|97|113|121|125'>
          <li class='team team-top' id='slot1' data-team-id="{{team_data[0]['teamID']}}"> {{team_data[0]['seedID']}} {{team_data[0]['teamName']}}</li>
          <li class='team team-bottom' id='slot2' data-team-id="{{team_data[1]['teamID']}}"> {{team_data[1]['seedID']}} {{team_data[1]['teamName']}}</li>
        </ul>
        <ul class='matchup game2' data-games='66|97|113|121|125'>
          <li class='team team-top' id='slot3' data-team-id="{{team_data[2]['teamID']}}"> {{team_data[2]['seedID']}} {{team_data[2]['teamName']}}</li>
          <li class='team team-bottom' id='slot4' data-team-id="{{team_data[3]['teamID']}}"> {{team_data[3]['seedID']}} {{team_data[3]['teamName']}}</li>
        </ul>
        <ul class='matchup game3' data-games='67|98|113|121|125'>
          <li class='team team-top' id='slot5' data-team-id="{{team_data[4]['teamID']}}"> {{team_data[4]['seedID']}} {{team_data[4]['teamName']}}</li>
          <li class='team team-bottom' id='slot6' data-team-id="{{team_data[5]['teamID']}}"> {{team_data[5]['seedID']}} {{team_data[5]['teamName']}}</li>
        </ul>
        <ul class='matchup game4' data-games='68|98|113|121|125'>
          <li class='team team-top' id='slot7' data-team-id="{{team_data[6]['teamID']}}"> {{team_data[6]['seedID']}} {{team_data[6]['teamName']}}</li>
          <li class='team team-bottom' id='slot8' data-team-id="{{team_data[7]['teamID']}}"> {{team_data[7]['seedID']}} {{team_data[7]['teamName']}}</li>
        </ul>
        <ul class='matchup game5' data-games='69|99|114|121|125'>
          <li class='team team-top' id='slot9' data-team-id="{{team_data[8]['teamID']}}"> {{team_data[8]['seedID']}} {{team_data[8]['teamName']}}</li>
          <li class='team team-bottom' id='slot10' data-team-id="{{team_data[9]['teamID']}}"> {{team_data[9]['seedID']}} {{team_data[9]['teamName']}}</li>
        </ul>
        <ul class='matchup game6' data-games='70|99|114|121|125'>
          <li class='team team-top' id='slot11' data-team-id="{{team_data[10]['teamID']}}"> {{team_data[10]['seedID']}} {{team_data[10]['teamName']}}</li>
          <li class='team team-bottom' id='slot12' data-team-id="{{team_data[11]['teamID']}}"> {{team_data[11]['seedID']}} {{team_data[11]['teamName']}}</li>
        </ul>
        <ul class='matchup game7' data-games='71|100|114|121|125'>
          <li class='team team-top' id='slot13' data-team-id="{{team_data[12]['teamID']}}"> {{team_data[12]['seedID']}} {{team_data[12]['teamName']}}</li>
          <li class='team team-bottom' id='slot14' data-team-id="{{team_data[13]['teamID']}}"> {{team_data[13]['seedID']}} {{team_data[13]['teamName']}}</li>
        </ul>
        <ul class='matchup game8' data-games='72|100|114|121|125'>
          <li class='team team-top' id='slot15' data-team-id="{{team_data[14]['teamID']}}"> {{team_data[14]['seedID']}} {{team_data[14]['teamName']}}</li>
          <li class='team team-bottom' id='slot16' data-team-id="{{team_data[15]['teamID']}}"> {{team_data[15]['seedID']}} {{team_data[15]['teamName']}}</li>
        </ul>
      </div>
      <!-- END ROUND ONE -->
      <!-- LEFT TOP 16 END -->
  
      <div class='round round-two'>
        <!-- LEFT TOP 8 START -->
        <div class='round-details round2-header'>Round 2
          <br />
          <span class='date'>March 17-18</span>
        </div>
        <ul class='matchup game33' data-games='97|114|121|125'>
          <li class='team team-top {{user_picks[0]['pickCSS']}}' id='slot65' data-team-id="{{user_picks[0]['teamID']}}"> {{user_picks[0]['seedID']}} {{user_picks[0]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[1]['pickCSS']}}' id='slot66' data-team-id="{{user_picks[1]['teamID']}}"> {{user_picks[1]['seedID']}} {{user_picks[1]['teamName']}}</li>
        </ul>
        <ul class='matchup game34' data-games='98|114|121|125'>
          <li class='team team-top {{user_picks[2]['pickCSS']}}' id='slot67' data-team-id="{{user_picks[2]['teamID']}}"> {{user_picks[2]['seedID']}} {{user_picks[2]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[3]['pickCSS']}}' id='slot68' data-team-id="{{user_picks[3]['teamID']}}"> {{user_picks[3]['seedID']}} {{user_picks[3]['teamName']}}</li>
        </ul>
        <ul class='matchup game35' data-games='99|114|121|125'>
          <li class='team team-top {{user_picks[4]['pickCSS']}}' id='slot69' data-team-id="{{user_picks[4]['teamID']}}"> {{user_picks[4]['seedID']}} {{user_picks[4]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[5]['pickCSS']}}' id='slot70' data-team-id="{{user_picks[5]['teamID']}}"> {{user_picks[5]['seedID']}} {{user_picks[5]['teamName']}}</li>
        </ul>
        <ul class='matchup game36' data-games='100|114|121|125'>
          <li class='team team-top {{user_picks[6]['pickCSS']}}' id='slot71' data-team-id="{{user_picks[6]['teamID']}}"> {{user_picks[6]['seedID']}} {{user_picks[6]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[7]['pickCSS']}}' id='slot72' data-team-id="{{user_picks[7]['teamID']}}"> {{user_picks[7]['seedID']}} {{user_picks[7]['teamName']}}</li>
        </ul>
      </div>
      <!-- END ROUND TWO -->
      <!-- LEFT TOP 8 END -->
    
      <div class='round round-three'>
        <!-- LEFT TOP 4 START -->
        <div class='round-details sixteen-header'>
          Sweet Sixteen
          <br />
          <span class='date'>March 22-23</span>
        </div>
        <ul class='matchup game49' data-games='113|121|125'>
          <li class='team team-top {{user_picks[32]['pickCSS']}}' id='slot97' data-team-id="{{user_picks[32]['teamID']}}"> {{user_picks[32]['seedID']}} {{user_picks[32]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[33]['pickCSS']}}' id='slot98' data-team-id="{{user_picks[33]['teamID']}}"> {{user_picks[33]['seedID']}} {{user_picks[33]['teamName']}}</li>
        </ul>
        <ul class='matchup game50' data-games='114|121|125'>
          <li class='team team-top {{user_picks[34]['pickCSS']}}' id='slot99' data-team-id="{{user_picks[34]['teamID']}}"> {{user_picks[34]['seedID']}} {{user_picks[34]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[35]['pickCSS']}}' id='slot100' data-team-id="{{user_picks[35]['teamID']}}"> {{user_picks[35]['seedID']}} {{user_picks[35]['teamName']}}</li>
        </ul>
      </div>
      <!-- END ROUND THREE -->
      <!-- LEFT TOP 4 END -->
    </div>

    <div class='champion top'>
      <div class='semis-l'>
        <div class='round-details eight-header'>
          Elite Eight
          <br />
          <span class='date'>March 24-25</span>
        </div>
        <ul class='matchup game57 championship elite-eight-top' data-games='121|125'>
          <li class='team team-top {{user_picks[48]['pickCSS']}}' id='slot113' data-team-id="{{user_picks[48]['teamID']}}"> {{user_picks[48]['seedID']}} {{user_picks[48]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[49]['pickCSS']}}' id='slot114' data-team-id="{{user_picks[49]['teamID']}}"> {{user_picks[49]['seedID']}} {{user_picks[49]['teamName']}}</li>
        </ul>
        <ul class='matchup game59 championship elite-eight-bottom' data-games='123|126'>
          <li class='team team-top {{user_picks[52]['pickCSS']}}' id='slot117' data-team-id="{{user_picks[52]['teamID']}}"> {{user_picks[52]['seedID']}} {{user_picks[52]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[53]['pickCSS']}}' id='slot118' data-team-id="{{user_picks[53]['teamID']}}"> {{user_picks[53]['seedID']}} {{user_picks[53]['teamName']}}</li>
        </ul>
      </div>
    </div>

    <div class='split split-two top'>
      <!-- RIGHT TOP 4 END -->
      <div class='round round-three'>
        <div class='round-details sixteen-header'>
          Sweet Sixteen
          <br />
          <span class='date'>March 22-23</span>
        </div> 
        <ul class='matchup game53' data-games='117|123|126'>
          <li class='team team-top {{user_picks[40]['pickCSS']}}' id='slot105' data-team-id="{{user_picks[40]['teamID']}}"> {{user_picks[40]['seedID']}} {{user_picks[40]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[41]['pickCSS']}}' id='slot106' data-team-id="{{user_picks[41]['teamID']}}"> {{user_picks[41]['seedID']}} {{user_picks[41]['teamName']}}</li>
        </ul>
        <ul class='matchup game54' data-games='118|123|126'>
          <li class='team team-top {{user_picks[42]['pickCSS']}}' id='slot107' data-team-id="{{user_picks[42]['teamID']}}"> {{user_picks[42]['seedID']}} {{user_picks[42]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[43]['pickCSS']}}' id='slot108' data-team-id="{{user_picks[43]['teamID']}}"> {{user_picks[43]['seedID']}} {{user_picks[43]['teamName']}}</li>
        </ul>
      </div>
      <!-- END ROUND THREE -->
      <!-- RIGHT TOP 4 END -->
  
      <div class='round round-two'>
        <!-- RIGHT TOP 8 START -->
        <div class='round-details round2-header'>
          Round 2
          <br />
          <span class='date'>March 17-18</span>
        </div>      
        <ul class='matchup game41' data-games='105|117|123|126'>
          <li class='team team-top {{user_picks[16]['pickCSS']}}' id='slot81' data-team-id="{{user_picks[16]['teamID']}}"> {{user_picks[16]['seedID']}} {{user_picks[16]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[17]['pickCSS']}}' id='slot82' data-team-id="{{user_picks[17]['teamID']}}"> {{user_picks[17]['seedID']}} {{user_picks[17]['teamName']}}</li>
        </ul>
        <ul class='matchup game42' data-games='106|117|123|126'>
          <li class='team team-top {{user_picks[18]['pickCSS']}}' id='slot83' data-team-id="{{user_picks[18]['teamID']}}"> {{user_picks[18]['seedID']}} {{user_picks[18]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[19]['pickCSS']}}' id='slot84' data-team-id="{{user_picks[19]['teamID']}}"> {{user_picks[19]['seedID']}} {{user_picks[19]['teamName']}}</li>
        </ul>
        <ul class='matchup game43' data-games='107|117|123|126'>
          <li class='team team-top {{user_picks[20]['pickCSS']}}' id='slot85' data-team-id="{{user_picks[20]['teamID']}}"> {{user_picks[20]['seedID']}} {{user_picks[20]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[21]['pickCSS']}}' id='slot86' data-team-id="{{user_picks[21]['teamID']}}"> {{user_picks[21]['seedID']}} {{user_picks[21]['teamName']}}</li>
        </ul>
        <ul class='matchup game44' data-games='108|117|123|126'>
          <li class='team team-top {{user_picks[22]['pickCSS']}}' id='slot87' data-team-id="{{user_picks[22]['teamID']}}"> {{user_picks[22]['seedID']}} {{user_picks[22]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[23]['pickCSS']}}' id='slot88' data-team-id="{{user_picks[23]['teamID']}}"> {{user_picks[23]['seedID']}} {{user_picks[23]['teamName']}}</li>
        </ul>
      </div>
      <!-- END ROUND TWO -->
      <!-- RIGHT TOP 8 END -->

      <div class='round round-one current'> 
        <!-- RIGHT TOP 16 START -->
        <div class='round-details'>
          Round 1
          <br />
          <span class='date'>March 15-16</span>
        </div>
        <ul class='matchup game17' data-games='81|105|117|123|126'>
          <li class='team team-top ' id='slot33' data-team-id="{{team_data[32]['teamID']}}"> {{team_data[32]['seedID']}} {{team_data[32]['teamName']}}</li>
          <li class='team team-bottom' id='slot34' data-team-id="{{team_data[33]['teamID']}}"> {{team_data[33]['seedID']}} {{team_data[33]['teamName']}}</li>
        </ul>
        <ul class='matchup game18' data-games='82|105|117|123|126'>
          <li class='team team-top' id='slot35' data-team-id="{{team_data[34]['teamID']}}"> {{team_data[34]['seedID']}} {{team_data[34]['teamName']}}</li>
          <li class='team team-bottom' id='slot36' data-team-id="{{team_data[35]['teamID']}}"> {{team_data[35]['seedID']}} {{team_data[35]['teamName']}}</li>
        </ul>
        <ul class='matchup game19' data-games='83|106|117|123|126'>
          <li class='team team-top' id='slot37' data-team-id="{{team_data[36]['teamID']}}"> {{team_data[36]['seedID']}} {{team_data[36]['teamName']}}</li>
          <li class='team team-bottom' id='slot38' data-team-id="{{team_data[37]['teamID']}}"> {{team_data[37]['seedID']}} {{team_data[37]['teamName']}}</li>
        </ul>
        <ul class='matchup game20' data-games='84|106|117|123|126'>
          <li class='team team-top' id='slot39' data-team-id="{{team_data[38]['teamID']}}"> {{team_data[38]['seedID']}} {{team_data[38]['teamName']}}</li>
          <li class='team team-bottom' id='slot40' data-team-id="{{team_data[39]['teamID']}}"> {{team_data[39]['seedID']}} {{team_data[39]['teamName']}}</li>
        </ul>
        <ul class='matchup game21' data-games='85|107|118|123|126'>
          <li class='team team-top' id='slot41' data-team-id="{{team_data[40]['teamID']}}"> {{team_data[40]['seedID']}} {{team_data[40]['teamName']}}</li>
          <li class='team team-bottom' id='slot42' data-team-id="{{team_data[41]['teamID']}}"> {{team_data[41]['seedID']}} {{team_data[41]['teamName']}}</li>
        </ul>
        <ul class='matchup game22' data-games='86|107|118|123|126'>
          <li class='team team-top' id='slot43' data-team-id="{{team_data[42]['teamID']}}"> {{team_data[42]['seedID']}} {{team_data[42]['teamName']}}</li>
          <li class='team team-bottom' id='slot44' data-team-id="{{team_data[43]['teamID']}}"> {{team_data[43]['seedID']}} {{team_data[43]['teamName']}}</li>
        </ul>
        <ul class='matchup game23' data-games='87|108|118|123|126'>
          <li class='team team-top' id='slot45' data-team-id="{{team_data[44]['teamID']}}"> {{team_data[44]['seedID']}} {{team_data[44]['teamName']}}</li>
          <li class='team team-bottom' id='slot46' data-team-id="{{team_data[45]['teamID']}}"> {{team_data[45]['seedID']}} {{team_data[45]['teamName']}}</li>
        </ul>
        <ul class='matchup game24' data-games='88|108|118|123|126'>
          <li class='team team-top' id='slot47' data-team-id="{{team_data[46]['teamID']}}"> {{team_data[46]['seedID']}} {{team_data[46]['teamName']}}</li>
          <li class='team team-bottom' id='slot48' data-team-id="{{team_data[47]['teamID']}}"> {{team_data[47]['seedID']}} {{team_data[47]['teamName']}}</li>
        </ul>
      </div>
      <!-- END ROUND ONE -->
      <!-- RIGHT TOP 16 END -->           
    </div>

    <div class='champion1 middle'>
      <div class='semis-l'>
        <div class='round-details'>
          Final Four
          <br />
          <span class='date'>March 31</span>
        </div>
        <ul class='matchup-less game61 championship final-four-left' data-games='125'>
          <li class='team team-top {{user_picks[56]['pickCSS']}}' id='slot121' data-team-id="{{user_picks[56]['teamID']}}"> {{user_picks[56]['seedID']}} {{user_picks[56]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[57]['pickCSS']}}' id='slot122' data-team-id="{{user_picks[57]['teamID']}}"> {{user_picks[57]['seedID']}} {{user_picks[57]['teamName']}}</li>
        </ul>
      </div>

      <div class='final'>
        <div class='round-details'>
          Championship
          <br />
          <span class='date'>April 2</span>
        </div>
        <ul class='matchup-less game63 championship' data-games='none'>
          <li class='team team-top {{user_picks[60]['pickCSS']}}' id='slot125' data-team-id="{{user_picks[60]['teamID']}}"> {{user_picks[60]['seedID']}} {{user_picks[60]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[61]['pickCSS']}}' id='slot126' data-team-id="{{user_picks[61]['teamID']}}"> {{user_picks[61]['seedID']}} {{user_picks[61]['teamName']}}</li>
        </ul>
      </div>
     
      <div class='semis-l'>
        <div class='round-details'>
          Final Four
          <br />
          <span class='date'>March 31</span>
        </div>
        <ul class='matchup-less game62 championship final-four-right' data-games='126'>
          <li class='team team-top {{user_picks[58]['pickCSS']}}' id='slot123' data-team-id="{{user_picks[58]['teamID']}}"> {{user_picks[58]['seedID']}} {{user_picks[58]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[59]['pickCSS']}}' id='slot124' data-team-id="{{user_picks[59]['teamID']}}"> {{user_picks[59]['seedID']}} {{user_picks[59]['teamName']}}</li>
        </ul>
      </div>
      
      <span id='ncaaWinner' data-pick='{{data_pick}}' data-team='{{data_team}}' data-team-id="{{user_picks[62].teamID}}"></span>
    </div>
    
    <!-- show form to submit pool data -->
    {% if show_user_bracket_form %}
      <div id='userBracketInfoForm'>
        {% include "additional_info.html" %}
      </div>
    {% endif %}

    <div class= 'split split-one bottom'>
      <div class='round round-one current'>
        <!-- LEFT BOTTOM 16 START -->
        <div class='round-details'>
          Round 1
          <br />
          <span class='date'>March 15-16</span>
        </div>
        <ul class='matchup game9' data-games='73|101|115|122|125'>
          <li class='team team-top' id='slot17' data-team-id="{{team_data[16]['teamID']}}"> {{team_data[16]['seedID']}} {{team_data[16]['teamName']}}</li>
          <li class='team team-bottom' id='slot18' data-team-id="{{team_data[17]['teamID']}}"> {{team_data[17]['seedID']}} {{team_data[17]['teamName']}}</li>
        </ul>
        <ul class='matchup game10' data-games='74|101|115|122|125'>
          <li class='team team-top' id='slot19' data-team-id="{{team_data[18]['teamID']}}"> {{team_data[18]['seedID']}} {{team_data[18]['teamName']}}</li>
          <li class='team team-bottom' id='slot20' data-team-id="{{team_data[19]['teamID']}}"> {{team_data[19]['seedID']}} {{team_data[19]['teamName']}}</li>
        </ul>
        <ul class='matchup game11' data-games='75|102|115|122|125'>
          <li class='team team-top' id='slot21' data-team-id="{{team_data[20]['teamID']}}"> {{team_data[20]['seedID']}} {{team_data[20]['teamName']}}</li>
          <li class='team team-bottom' id='slot22' data-team-id="{{team_data[21]['teamID']}}"> {{team_data[21]['seedID']}} {{team_data[21]['teamName']}}</li>
        </ul>
        <ul class='matchup game12' data-games='76|102|115|122|125'>
          <li class='team team-top' id='slot23' data-team-id="{{team_data[22]['teamID']}}"> {{team_data[22]['seedID']}} {{team_data[22]['teamName']}}</li>
          <li class='team team-bottom' id='slot24' data-team-id="{{team_data[23]['teamID']}}"> {{team_data[23]['seedID']}} {{team_data[23]['teamName']}}</li>
        </ul>
        <ul class='matchup game13' data-games='77|103|116|122|125'>
          <li class='team team-top' id='slot25' data-team-id="{{team_data[24]['teamID']}}"> {{team_data[24]['seedID']}} {{team_data[24]['teamName']}}</li>
          <li class='team team-bottom' id='slot26' data-team-id="{{team_data[25]['teamID']}}"> {{team_data[25]['seedID']}} {{team_data[25]['teamName']}}</li>
        </ul>
        <ul class='matchup game14' data-games='78|103|116|122|125'>
          <li class='team team-top' id='slot27' data-team-id="{{team_data[26]['teamID']}}"> {{team_data[26]['seedID']}} {{team_data[26]['teamName']}}</li>
          <li class='team team-bottom' id='slot28' data-team-id="{{team_data[27]['teamID']}}"> {{team_data[27]['seedID']}} {{team_data[27]['teamName']}}</li>
        </ul>
        <ul class='matchup game15' data-games='79|104|116|122|125'>
          <li class='team team-top' id='slot29' data-team-id="{{team_data[28]['teamID']}}"> {{team_data[28]['seedID']}} {{team_data[28]['teamName']}}</li>
          <li class='team team-bottom' id='slot30' data-team-id="{{team_data[29]['teamID']}}"> {{team_data[29]['seedID']}} {{team_data[29]['teamName']}}</li>
        </ul>
        <ul class='matchup game16' data-games='80|104|116|122|125'>
          <li class='team team-top' id='slot31' data-team-id="{{team_data[30]['teamID']}}"> {{team_data[30]['seedID']}} {{team_data[30]['teamName']}}</li>
          <li class='team team-bottom' id='slot32' data-team-id="{{team_data[31]['teamID']}}"> {{team_data[31]['seedID']}} {{team_data[31]['teamName']}}</li>
        </ul>
      </div>
      <!-- END ROUND ONE -->
      <!-- LEFT BOTTOM 16 END -->

      <div class='round round-two'> 
        <!-- LEFT BOTTOM 8 END -->
        <div class='round-details round2-header'>
          Round 2
          <br />
          <span class='date'>March 17-18</span>
        </div>
        <ul class='matchup game37' data-games='101|115|122|125'>
          <li class='team team-top {{user_picks[8]['pickCSS']}}' id='slot73' data-team-id="{{user_picks[8]['teamID']}}"> {{user_picks[8]['seedID']}} {{user_picks[8]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[9]['pickCSS']}}' id='slot74' data-team-id="{{user_picks[9]['teamID']}}"> {{user_picks[9]['seedID']}} {{user_picks[9]['teamName']}}</li>
        </ul>
        <ul class='matchup game38' data-games='102|116|122|125'>
          <li class='team team-top {{user_picks[10]['pickCSS']}}' id='slot75' data-team-id="{{user_picks[10]['teamID']}}"> {{user_picks[10]['seedID']}} {{user_picks[10]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[11]['pickCSS']}}' id='slot76' data-team-id="{{user_picks[11]['teamID']}}"> {{user_picks[11]['seedID']}} {{user_picks[11]['teamName']}}</li>
        </ul>
        <ul class='matchup game39' data-games='103|116|122|125'>
          <li class='team team-top {{user_picks[12]['pickCSS']}}' id='slot77' data-team-id="{{user_picks[12]['teamID']}}"> {{user_picks[12]['seedID']}} {{user_picks[12]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[13]['pickCSS']}}' id='slot78' data-team-id="{{user_picks[13]['teamID']}}"> {{user_picks[13]['seedID']}} {{user_picks[13]['teamName']}}</li>
        </ul>
        <ul class='matchup game40' data-games='104|116|122|125'>
          <li class='team team-top {{user_picks[14]['pickCSS']}}' id='slot79' data-team-id="{{user_picks[14]['teamID']}}"> {{user_picks[14]['seedID']}} {{user_picks[14]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[15]['pickCSS']}}' id='slot80' data-team-id="{{user_picks[15]['teamID']}}"> {{user_picks[15]['seedID']}} {{user_picks[15]['teamName']}}</li>
        </ul>
      </div>
      <!-- END ROUND TWO -->
      <!-- LEFT BOTTOM 8 END -->

      <div class='round round-three'> 
        <!-- LEFT BOTTOM 4 START -->
        <div class='round-details sixteen-header'>
          Sweet Sixteen
          <br />
          <span class='date'>March 22-23</span>
        </div>
        <ul class='matchup game51' data-games='115|122|125'>
          <li class='team team-top {{user_picks[36]['pickCSS']}}' id='slot101' data-team-id="{{user_picks[36]['teamID']}}"> {{user_picks[36]['seedID']}} {{user_picks[36]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[37]['pickCSS']}}' id='slot102' data-team-id="{{user_picks[37]['teamID']}}"> {{user_picks[37]['seedID']}} {{user_picks[37]['teamName']}}</li>
        </ul>       
        <ul class='matchup game52' data-games='116|122|125'>
          <li class='team team-top {{user_picks[38]['pickCSS']}}' id='slot103' data-team-id="{{user_picks[38]['teamID']}}"> {{user_picks[38]['seedID']}} {{user_picks[38]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[39]['pickCSS']}}' id='slot104' data-team-id="{{user_picks[39]['teamID']}}"> {{user_picks[39]['seedID']}} {{user_picks[39]['teamName']}}</li>
        </ul>
      </div>
      <!-- END ROUND THREE -->
      <!-- LEFT BOTTOM 4 END -->
    </div>

    <div class='champion bottom'>
      <div class='semis-r'>  
        <div class='round-details eight-header'>
          Elite Eight
          <br />
          <span class='date'>March 24-25</span>
        </div>
        <ul class='matchup game58 championship elite-eight-top' data-games='122|125'>
          <li class='team team-top {{user_picks[50]['pickCSS']}}' id='slot115' data-team-id="{{user_picks[50]['teamID']}}"> {{user_picks[50]['seedID']}} {{user_picks[50]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[51]['pickCSS']}}' id='slot116' data-team-id="{{user_picks[51]['teamID']}}"> {{user_picks[51]['seedID']}} {{user_picks[51]['teamName']}}</li>
        </ul> 
        <ul class='matchup game60 championship elite-eight-bottom' data-games='124|126'>
          <li class='team team-top {{user_picks[54]['pickCSS']}}' id='slot119' data-team-id="{{user_picks[54]['teamID']}}"> {{user_picks[54]['seedID']}} {{user_picks[54]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[55]['pickCSS']}}' id='slot120' data-team-id="{{user_picks[55]['teamID']}}"> {{user_picks[55]['seedID']}} {{user_picks[55]['teamName']}}</li>
        </ul>
      </div>
    </div>
  
    <div class='split split-two bottom'>
      <div class='round round-three'>
        <!-- RIGHT BOTTOM 4 START -->
        <div class='round-details sixteen-header'>
          Sweet Sixteen
          <br />
          <span class='date'>March 22-23</span>
        </div>
        <ul class='matchup game55' data-games='119|124|126'>
          <li class='team team-top {{user_picks[44]['pickCSS']}}' id='slot109' data-team-id="{{user_picks[44]['teamID']}}"> {{user_picks[44]['seedID']}} {{user_picks[44]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[45]['pickCSS']}}' id='slot110' data-team-id="{{user_picks[45]['teamID']}}"> {{user_picks[45]['seedID']}} {{user_picks[45]['teamName']}}</li>
        </ul>
        <ul class='matchup game56' data-games='120|124|126'>
          <li class='team team-top {{user_picks[46]['pickCSS']}}' id='slot111' data-team-id="{{user_picks[46]['teamID']}}"> {{user_picks[46]['seedID']}} {{user_picks[46]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[47]['pickCSS']}}' id='slot112' data-team-id="{{user_picks[47]['teamID']}}"> {{user_picks[47]['seedID']}} {{user_picks[47]['teamName']}}</li>
        </ul>
        <!-- END ROUND THREE -->
        <!-- RIGHT BOTTOM 4 END -->
      </div>

      <div class='round round-two'>
        <!-- RIGHT BOTTOM 8 END -->
        <div class='round-details round2-header'>
          Round 2
          <br />
          <span class='date'>March 17-18</span>
        </div>
        <ul class='matchup game45' data-games='109|119|124|126'>
          <li class='team team-top {{user_picks[24]['pickCSS']}}' id='slot89' data-team-id="{{user_picks[24]['teamID']}}"> {{user_picks[24]['seedID']}} {{user_picks[24]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[25]['pickCSS']}}' id='slot90' data-team-id="{{user_picks[25]['teamID']}}"> {{user_picks[25]['seedID']}} {{user_picks[25]['teamName']}}</li>
        </ul>
        <ul class='matchup game46' data-games='110|119|124|126'>
          <li class='team team-top {{user_picks[26]['pickCSS']}}' id='slot91' data-team-id="{{user_picks[26]['teamID']}}"> {{user_picks[26]['seedID']}} {{user_picks[26]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[27]['pickCSS']}}' id='slot92' data-team-id="{{user_picks[27]['teamID']}}"> {{user_picks[27]['seedID']}} {{user_picks[27]['teamName']}}</li>
        </ul>
        <ul class='matchup game47' data-games='111|119|124|126'>
          <li class='team team-top {{user_picks[28]['pickCSS']}}' id='slot93' data-team-id="{{user_picks[28]['teamID']}}"> {{user_picks[28]['seedID']}} {{user_picks[28]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[29]['pickCSS']}}' id='slot94' data-team-id="{{user_picks[29]['teamID']}}"> {{user_picks[29]['seedID']}} {{user_picks[29]['teamName']}}</li>
        </ul>
        <ul class='matchup game48' data-games='112|119|124|126'>
          <li class='team team-top {{user_picks[30]['pickCSS']}}' id='slot95' data-team-id="{{user_picks[30]['teamID']}}"> {{user_picks[30]['seedID']}} {{user_picks[30]['teamName']}}</li>
          <li class='team team-bottom {{user_picks[31]['pickCSS']}}' id='slot96' data-team-id="{{user_picks[31]['teamID']}}"> {{user_picks[31]['seedID']}} {{user_picks[31]['teamName']}}</li>
        </ul>
        <!-- END ROUND TWO -->
        <!-- RIGHT BOTTOM 8 END -->
      </div>

      <div class='round round-one current'>
        <!-- RIGHT BOTTOM 16 START -->
        <div class='round-details'> 
          Round 1
          <br />
          <span class='date'>March 15-16</span>
        </div>
        <ul class='matchup game25' data-games='89|109|119|124|126'>
          <li class='team team-top' id='slot49' data-team-id="{{team_data[48]['teamID']}}"> {{team_data[48]['seedID']}} {{team_data[48]['teamName']}}</li>
          <li class='team team-bottom' id='slot50' data-team-id="{{team_data[49]['teamID']}}"> {{team_data[49]['seedID']}} {{team_data[49]['teamName']}}</li>
        </ul>
        <ul class='matchup game26' data-games='90|109|119|124|126'>
          <li class='team team-top' id='slot51' data-team-id="{{team_data[50]['teamID']}}"> {{team_data[50]['seedID']}} {{team_data[50]['teamName']}}</li>
          <li class='team team-bottom' id='slot52' data-team-id="{{team_data[51]['teamID']}}"> {{team_data[51]['seedID']}} {{team_data[51]['teamName']}}</li>
        </ul>
        <ul class='matchup game27' data-games='91|110|119|124|126'>
          <li class='team team-top' id='slot53' data-team-id="{{team_data[52]['teamID']}}"> {{team_data[52]['seedID']}} {{team_data[52]['teamName']}}</li>
          <li class='team team-bottom' id='slot54' data-team-id="{{team_data[53]['teamID']}}"> {{team_data[53]['seedID']}} {{team_data[53]['teamName']}}</li>
        </ul>
        <ul class='matchup game28' data-games='92|110|119|124|126'>
          <li class='team team-top' id='slot55' data-team-id="{{team_data[54]['teamID']}}"> {{team_data[54]['seedID']}} {{team_data[54]['teamName']}}</li>
          <li class='team team-bottom' id='slot56' data-team-id="{{team_data[55]['teamID']}}"> {{team_data[55]['seedID']}} {{team_data[55]['teamName']}}</li>
        </ul>
        <ul class='matchup game29' data-games='93|111|120|124|126'>
          <li class='team team-top' id='slot57' data-team-id="{{team_data[56]['teamID']}}"> {{team_data[56]['seedID']}} {{team_data[56]['teamName']}}</li>
          <li class='team team-bottom' id='slot58' data-team-id="{{team_data[57]['teamID']}}"> {{team_data[57]['seedID']}} {{team_data[57]['teamName']}}</li>
        </ul>
        <ul class='matchup game30' data-games='94|111|120|124|126'>
          <li class='team team-top' id='slot59' data-team-id="{{team_data[58]['teamID']}}"> {{team_data[58]['seedID']}} {{team_data[58]['teamName']}}</li>
          <li class='team team-bottom' id='slot60' data-team-id="{{team_data[59]['teamID']}}"> {{team_data[59]['seedID']}} {{team_data[59]['teamName']}}</li>
        </ul>
        <ul class='matchup game31' data-games='95|112|120|124|126'>
          <li class='team team-top' id='slot61' data-team-id="{{team_data[60]['teamID']}}"> {{team_data[60]['seedID']}} {{team_data[60]['teamName']}}</li>
          <li class='team team-bottom' id='slot62' data-team-id="{{team_data[61]['teamID']}}"> {{team_data[61]['seedID']}} {{team_data[61]['teamName']}}</li>
        </ul>
        <ul class='matchup game32' data-games='96|112|120|124|126'>
          <li class='team team-top' id='slot63' data-team-id="{{team_data[62]['teamID']}}"> {{team_data[62]['seedID']}} {{team_data[62]['teamName']}}</li>
          <li class='team team-bottom' id='slot64' data-team-id="{{team_data[63]['teamID']}}"> {{team_data[63]['seedID']}} {{team_data[63]['teamName']}}</li>
        </ul>
      </div>
    </div>    
    <!-- END ROUND ONE -->
    <!-- RIGHT BOTTOM 16 END -->

  </div>
</section>
{% endblock %}